<!DOCTYPE html>
<html>
<head>
  <title>Detalhe do Jogo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Detalhe do Jogo</h1>  <nav>
    <a href="/">Jogos</a> |
    <a href="/jogadores">Jogadores</a> |
    <a href="/coletes">Coletes</a> |
    <a href="/jogos/novo">Novo Jogo</a> |
    <a href="/estatisticas">Estatísticas</a>
  </nav>
  <p>Data: <%= jogo.data %></p>
  <p>Equipa 1: <%= jogo.equipa1_golos %> golos</p>
  <ul>
    <% equipa1.forEach(j => { %>
      <li><%= j.nome %></li>
    <% }) %>
  </ul>
  <p>Equipa 2: <%= jogo.equipa2_golos %> golos</p>
  <ul>
    <% equipa2.forEach(j => { %>
      <li><%= j.nome %></li>
    <% }) %>
  </ul>
</body>
</html>